
%h1 
  Hello 
  = current_user.uun


%h3 
  Movies you bought tickets for
  //- binding.pry
- current_user.reservations.each do |reservation|
  = reservation.schedule.movie.name
  on
  = reservation.schedule.start_time
  %br



= render partial:"movies/upcoming"


